# Using print() function

In [1]:
print("Hello")

Hello

# Assigning values to variables

In [2]:
x=y=z=50
print(x)
print(y)
print(z)

50
50
50

In [3]:
a,b,c= 5,10,15
print(a)
print(b)
print(c)

5
10
15

In [4]:
#type() function

x=10
print("type is: ",type(x))

type is:  <class 'int'>

In [5]:
x=10.67
print(type(x))

<class 'float'>

In [6]:
x="python"
print(type(x))

<class 'str'>

In [7]:
a="hello"
print(a)

hello

In [8]:
a=b=10
print(a+b)

20

In [9]:
a,b=5,7
print(a+b)

12

In [10]:
a=5
b=7
print(a+b)

12

In [11]:
print(5+4)

9

In [12]:
#without variable declaration
print(10+5,10-5,10*2,10/20)

15 5 20 0.5

In [13]:
#with variable declaration
a=10
b=5
print(a+b)
print(a-b)
print(a*b)
print(a/b)

15
5
50
2.0

# Addition

In [14]:
#by declaring variable
a=10
b=5
print(a+b)

#without declaring variables
print(12+8)

#two variable with same values
a=b=10
print(a+b)

#two variable with different values
a,b=7,3
print(a+b)

15
20
20
10

# Subtraction

In [15]:
#by declaring variable
a=10
b=5
print(a-b)

#without declaring variables
print(12-8)

#two variable with same values
a=b=10
print(a-b)

#two variable with different values
a,b=7,3
print(a-b)

5
4
0
4

# Multiplication

In [16]:
#by declaring variable
a=10
b=5
print(a*b)

#without declaring variables
print(12*8)

#two variable with same values
a=b=10
print(a*b)

#two variable with different values
a,b=7,3
print(a*b)

50
96
100
21

# Division

In [17]:
#by declaring variable
a=10
b=5
print(a/b)

#without declaring variables
print(12/8)

#two variable with same values
a=b=10
print(a/b)

#two variable with different values
a,b=7,3
print(a/b)

2.0
1.5
1.0
2.3333333333333335

# Doing Arithmetic operation in one

In [18]:
#two variables with different values and printing them differently
x=45
y=5
print("Addition: ",x+y)
print("Subtraction: ",x-y)
print("Multiplication: ",x*y)
print("Division: ",x/y)

Addition:  50
Subtraction:  40
Multiplication:  225
Division:  9.0

In [19]:
#calculating and printing arithmetic operator directly without any variables in print() function

print("Addition: ",20+5,"\nSubtraction: ",20-5,"\nMultiplication: ",20*5,"\nDivision: ",20/5)

Addition:  25
Subtraction:  15
Multiplication:  100
Division:  4.0

## Average of Two Numbers

In [20]:
#using variables

a,b=10,100
print("Average of Two Numbers: ",(a+b)/2)

#directly using print()
print("Average of Two Numbers: ",(10+10)/2)

Average of Two Numbers:  55.0
Average of Two Numbers:  10.0

## 3 Subjects marks and finding total and percentage

In [21]:
#marks are out of 100
sub1,sub2,sub3 = 74,88,67

print("Total: ",sub1+sub2+sub3)

print("Percentage of 3 Subjects: ",(sub1+sub2+sub3/300)*100)

Total:  229
Percentage of 3 Subjects:  16222.333333333332

# Input() Functions

In [29]:
#input() function using int

a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))
c=a+b
print("Addition is: ",c)

#input() function using float

w = float(input("Enter float value of w: "))
q = float(input("Enter float value of q: "))
print("Addition is: ",(w+q))

#input() function using char

y = (input("Enter the 1st character: "))[0]
e = (input("Enter the 2nd character: "))[0]
print("Concatenation is: ",(y+e))

#input() function using string

g = input("Enter the 1st string: ")
j = input("Enter the 2nd string: ")
print("Concatenate is: ",(g+j))

Enter the value of a: 23
Enter the value of b: 23
Addition is:  46
Enter float value of w: 56.9
Enter float value of q: 34.7
Addition is:  91.6
Enter the 1st character: rter
Enter the 2nd character: fdfd
Concatenation is:  rf
Enter the 1st string: Rushabh
Enter the 2nd string:  Shah
Concatenate is:  Rushabh Shah

### Using Math Function

In [23]:
#using math function

import math
r = float(input("Enter the value of r: "))
print("Area of circle: ",math.pi*r*r)

Enter the value of r: 5
Area of circle:  78.53981633974483

In [24]:
#run time value

pi = float(input("Enter value of PI: "))
r  = float(input("Enter the value of r: "))
print("Without using math function: ",pi*r*r)

Enter value of PI: 3.14
Enter the value of r: 5
Without using math function:  78.5

In [25]:
#direct value

pi = 3.14
r = float(input("Enter the value of r: "))
print("Are of Circle directly: ",pi*r*r)

Enter the value of r: 5
Are of Circle directly:  78.5

In [26]:
#Finding circumference of circle

import math
l = float(input("Enter the radius l: "))
print("Cicrumference of circle is: ",(math.pi*l*2))


#Area of Square

a = float(input("Enter the value of square: "))
print("Area of Square is: ",(a*a))

Enter the radius l: 5
Cicrumference of circle is:  31.41592653589793
Enter the value of square: 4
Area of Square is:  16.0

# If-Else

In [1]:
#if statement 

m = int(input("Enter the marks: "))
if(m>35):
    print("Pass")

Enter the marks: 37
Pass

In [3]:
#if-else statement

a = int(input("Enter the marks: "))
if(a>35):
    print("Pass")
else:
    print("Fail")

Enter the marks: 23
Fail

In [9]:
#leap year

j = int(input("Enter the year: "))
if(j%4 == 0):
    print("Leap Year")
else:
    print("Not Leap Year")

Enter the year: 2018
Not Leap Year

In [13]:
#odd even

y = int(input("Enter the number to find odd or even: "))
if(y%2 == 0):
    print("Even")
else:
    print("Odd")

Enter the number to find odd or even: 77
Odd

In [22]:
#vowel

t = input("Enter the alphabet: ")[0]
if(t == 'a' or t == 'e' or t == 'i' or t == 'o' or t == 'u'):
    print("Vowel")
else:
    print("Consonent")

Enter the alphabet: e
Vowel

In [25]:
# finding number is greater than/ smaller than or equal

a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))

if(a == b):
    print("Both are equals")
elif(a>b):
    print("A is greater")
else:
    print("B is Greater")

Enter the value of a: 4
Enter the value of b: 4
Both are equals

In [30]:
#finding vowels using elif

d = input("Enter the character: ")[0]

if(d == 'a' or d == 'A'):
    print("Vowel")
elif(d == 'e' or d == 'E'):
    print("Vowel")
elif(d == 'i' or d == 'I'):
    print("Vowel")
elif(d == 'o' or d == 'O'):
    print("Vowel")
elif(d == 'u' or d == 'U'):
    print("Vowel")
else:
    print("Consonent")

Enter the character: T
Consonent

In [35]:
#calculator

print("Choose any of this:  +  -  *  /  %")
t = input("Enter your choice: ")
w = int(input("Enter first integer: "))
e = int(input("Enter second integer: "))
if(t == '+'):
    print("Addition: ",(w+e))
elif(t == '-'):
    print("Subtraction: ",(w-e))
elif(t == '*'):
    print("Multiplication: ",(w*e))
elif(t == '/'):
    print("Division: ",(w/e))
elif(t == '%'):
    print("Modulo: ",(w%e))
else:
    print("Incorrect sign")

Choose any of this:  +  -  *  /  %
Enter your choice: %
Enter first integer: 10
Enter second integer: 5
Modulo:  0