# Tuple

In [1]:
thistuple = ("a","b","c")
print(thistuple)
print("Type: ",type(thistuple))

('a', 'b', 'c')
Type:  <class 'tuple'>

## Access Items

In [2]:
a = (1,2,3,4,"y","g","u")
print(a)               #to select entire tuple list
print(a[5])            #to select particular tuple member

(1, 2, 3, 4, 'y', 'g', 'u')
g

## Negative Indexing

In [4]:
a = ("a","b","c","t","e",1,2,3,4,5,6,7)
print(a[-1])
print(a[-4])
print(a[-9])

7
4
t

## Range of index

In [8]:
a = ("x","z","y","r","q",1,2,3,4,5,6,7,8)
print(a[:])
print(a[5:])
print(a[:8])
print(a[2:7])
print(a[-5:-1])

('x', 'z', 'y', 'r', 'q', 1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8)
('x', 'z', 'y', 'r', 'q', 1, 2, 3)
('y', 'r', 'q', 1, 2)
(4, 5, 6, 7)

## Change Tuple values

In [9]:
#tuple is unchangable it can't be changed so to change values 
#you have to change tuple into list then change values and then convert again to tuple

In [10]:
x = ("a","b","c","t")
y = list(x)
y[2] = "q"
x = tuple(y)
print(x)

('a', 'b', 'q', 't')

## Loop through tuple

In [11]:
x = ("a","b","c","t","q",6,5,4,3,2,8)
for y in x:
    print(y)

a
b
c
t
q
6
5
4
3
2
8

## check item exists or not

In [15]:
x = ("a","b","v")
if "b" in x:
    print("Yes it is present")
else:
    print("Not present")

Yes it is present

## tuple length

In [16]:
x = ("a","b","c","r")
print(len(x))

4

## creating tuple with one item

In [17]:
#To create tuple with one item then

x = ("apple",)                # you have to use comma
print(type(x))

<class 'tuple'>

## join two tuples

In [18]:
t1 = ("a","b","c")
t2 = (1,2,3)

t3 = t1+t2

print(t3)

('a', 'b', 'c', 1, 2, 3)

## count()

In [19]:
t1 = (1,2,3,2,5,2,7,2,10,2,6,8,3,2)
x = t1.count(2)
print(x)

6

## index()

In [20]:
t1 = (1,2,3,4,5,"a","b","c","t")
x = t1.index("a")
print(x)

5