# CHAPTER NO - 1 : Overview of Python and Data Structures

In [3]:
#1
n=5
m=1
if n<0:
    print("Factorial is not possible")

elif n==0:
    print("Factorial of 0 is zero")
    
else:
    for i in range(1,n+1):
        m=m*i
print(m)

120

In [4]:
#2

def recur_factorial(n):  
    if n == 1:
        return n  
    else:
        return n*recur_factorial(n-1)  
# take input from the user  
num = int(input("Enter a number: "))  
# check is the number is negative  
if num < 0:
    print("Sorry, factorial does not exist for negative numbers")  
elif num == 0:
    print("The factorial of 0 is 1")  
else:
    print("The factorial of",num,"is",recur_factorial(num))

Enter a number: 5
The factorial of 5 is 120

In [1]:
#15
myStr = "GTU is the best University"
print(myStr[15 : : 1])
print(myStr[-10 : -1 : 2])

 University
Uiest

In [2]:
#16
t = (1, 2, 3, (4, ), [ 5, 6] )
print(t[ 3 ])
t[4][0] = 7
print(t)

(4,)
(1, 2, 3, (4,), [7, 6])

In [5]:
#18
nterms = int(input("How many terms? "))

# first two terms
n1, n2 = 0, 1
count = 0

# check if the number of terms is valid
if nterms <= 0:
   print("Please enter a positive integer")
# if there is only one term, return n1
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
# generate fibonacci sequence
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       # update values
       n1 = n2
       n2 = nth
       count += 1

How many terms? 10
Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

In [6]:
#21 reverse number
r=0
n=(int(input("Enter a number to reverse: ")))
while n!=0:
    t=n%10
    r=(r*10)+t
    n=n//10
print("Reverse is: ",r)

Enter a number to reverse: 531
Reverse is:  135

In [4]:
#22

def sum13(nums):

    total = 0
    i = 0

    while i < len(nums):
        if nums[i] == 13:
            i += 2
            continue
        total += nums[i]
        i += 1

    return total

In [5]:
#22

values = [1,2,3]
def shift(list):
    newlist=[]
    
    for i in list:
        newlist.insert(len(newlist)-1,i)
    return newlist
print(shift(values))

[2, 3, 1]

In [9]:
values3 = [1,2,3,4,5,6,7,8,9,10]
print(shift(values3))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 1]

In [12]:
#24  dont know the answer and method of it.

class GTU():
    def __init__(self):
        self.cnt = ""

    def get_value(self,x,y):
        self.x= input("Enter x ")
        self.y=input("enter y")

    def print_value(self):
        print(self.x)
        print(self.y)

In [16]:
#25

with open('gtustudents.txt') as f:
    contents = f.read()
    print(contents)

Name         Date of Birth
Hello         12/12/1999
Hi            3/6/1996
Bye Bye       10/8/2000
Tony          14/5/2015
Amay          20/11/1995

In [22]:
#26

def isPalindrome(s):
    return s == s[::-1]
 
 
#Drivers code
s = "lol"
ans = isPalindrome(s)
 
if ans:
    print("Yes")
else:
    print("No")

Yes

In [23]:
#27

# Python3 program to calculate the CGPA
# and CGPA percentage of a student
def CgpaCalc(marks, n):
 
    # Variable to store the grades in
    # every subject
    grade = [0] * n
   
    # Variables to store CGPA and the
    # sum of all the grades
    Sum = 0
   
    # Computing the grades
    for i in range(n):
       grade[i] = (marks[i] / 10)
   
    # Computing the sum of grades
    for i in range(n):
       Sum += grade[i]
   
    # Computing the CGPA
    cgpa = Sum / n
   
    return cgpa
   
# Driver code
n = 5
marks = [ 90, 80, 70, 80, 90 ]
 
cgpa = CgpaCalc(marks, n)
       
print("CGPA = ", '%.1f' % cgpa)
print("CGPA Percentage = ", '%.2f' % (cgpa * 9.5))

CGPA =  8.2
CGPA Percentage =  77.90

In [1]:
import pandas as pd
print("Imported Pandas")

Imported Pandas

In [2]:
#reading csv file

df = pd.read_csv("loan.csv")
df

   Table A  Table B Table C
0        1   Loan 1      P1
1        2   Loan 2      P2
2        3   Loan 3      P3
3        4   Loan 4      P4
4        5   Loan 5      P5
5        6   Loan 6      P6
6        7   Loan 7      P7
7        8   Loan 8      P8
8        9   Loan 9      P9
9       10  Loan 10     P10

In [3]:
#reading excel file
df1 = pd.read_excel("Drugs.xlsx")
df1

  Drug Type   Amount Production
0    Type A    100.0       10gm
1    Type B    400.0        NaN
2       NaN     50.0       30gm
3   Type AB    700.0       19gm
4    Type Z   3000.0        8gm
5    Type X  20000.0        5gm
6    Type V      NaN        2gm

In [4]:
#reading txt file
with open('colors.txt') as f:
    contents = f.read()
    print(contents)

COLOR      VALUE
RED         1
BLUE        2
GREEN       3
BLACK       4
ORANGE      5
PURPLE      6
GREY        7
VIOLET      8
WHITE       9
YELLOW      10

In [3]:
from lxml import objectify
import pandas as pd
xml = objectify.parse(open('MyDataset.xml'))
root = xml.getroot()
df = pd.DataFrame(columns=('Number', 'String', 'Boolean'))
for i in range(0,4):
    obj = root.getchildren()[i].getchildren()
    row = dict(zip(['Number', 'String', 'Boolean'],
                   [obj[0].text, obj[1].text,
                    obj[2].text]))
    row_s = pd.Series(row)
    row_s.name = i
    df = df.append(row_s)
print(df)

  Number  String Boolean
0      1   First    True
1      2  Second   False
2      3   Third    True
3      4  Fourth   False