In [1]:
print("Hello")

Hello

In [2]:
print('Hello')

Hello

In [4]:
var1=5
var2=4+3j
var3="Hello"
var4=True
tup=(1,2,3,4,5)
mylist=[1,"Hello",2.25,3+4j]
mydictionary={'sem':5,'sub':'Python'}
myset={1,2,3,4,5}

In [6]:
print(mylist)

[1, 'Hello', 2.25, (3+4j)]

In [11]:
var3[0]="H"
print(var3)

TypeError: 'str' object does not support item assignment

In [12]:
mylist[1]='hi'
print(mylist)

[1, 'hi', 2.25, (3+4j)]

In [14]:
sem=input("Enter semester: ")
sub=input("Enter subject: ")
print("Your semester: "+sem+" Your subject: "+sub)

Enter semester: 6
Enter subject: rty
Your semester: 6 Your subject: rty

In [6]:
num1=(input("Enter 1st number: "))
num2=(input("Enter 2nd number: "))
print("Addition: "+(num1+num2))

Enter 1st number: 5
Enter 2nd number: 5
Addition: 55

In [7]:
ans=eval(input("Enter operation to perform: "))
print(ans)

Enter operation to perform: 3*6
18

In [9]:
#function declaration
def printdetails():
    print("Hello world")
    return
printdetails()

Hello world

In [10]:
#required arguments
def printdetails(sub,sem):
    print("Subject is: ",sub,"\nSemester is: ",sem)
    return
printdetails("Python for Data Science",5)

Subject is:  Python for Data Science
Semester is:  5

In [11]:
#keyword arguments
def printdetails(sub,sem,branch):
    print("Subject is: ",sub,"\nSemester is: ",sem,"\nBranch is: ",branch)
    return
printdetails(branch="computer",sub="python",sem=5)

Subject is:  python
Semester is:  5
Branch is:  computer

In [16]:
#default arguments
def printdetails(sub="PDS",sem=5,branch="ICT"):
    print("Subject is: ",sub,"\nSemester is: ",sem,"\nBranch is: ",branch)
    return
printdetails()
print("\n")
printdetails("PDF",5,"IT")

Subject is:  PDS
Semester is:  5
Branch is:  ICT


Subject is:  PDF
Semester is:  5
Branch is:  IT

In [17]:
#variable-length arguments
def printdetails(*values):
    for val in values:
        print(val)
    return
printdetails("Python","Java","AI","ML","C++")

Python
Java
AI
ML
C++

# String

In [18]:
#concatination operator(+)
s1="Hello"
s2=" World"
print("Conatinated string: ",s1+s2)

Conatinated string:  Hello World

In [19]:
#repetition operator(*)
var="Hello "
print("Repeated string: ",var*5)

Repeated string:  Hello Hello Hello Hello Hello

In [20]:
#slice operator([])
var="hello"
print("Element at first position: ",var[0])
print("ELement at last position: ",var[-1])

Element at first position:  h
ELement at last position:  o

In [21]:
#range slice operator ([start:end:stepsize])
var="This is Python for Data Science"
print("After slicing: ",var[0:10])
print("After slicing: ",var[0:10:3])

After slicing:  This is Py
After slicing:  Tssy

In [25]:
#in not in operator
var="hello"
print("h" in var)
print("Q" not in var)

True
True

In [27]:
#checking immutability
var="Hello World"
var[0]="H"

TypeError: 'str' object does not support item assignment

In [28]:
strvar="hello world"
#capitalize(): Capitalize first letter of the string
strcap=strvar.capitalize()
print("Capitalized String : ",strcap)

Capitalized String :  Hello world

In [33]:
"""isalpha(): Returns true if string has at least 1 character and all characters are alphanumeric and false otherwise."""
var2=""
var3="Hello"
print("Is alphabet: ",var2.isalpha())
print("IS alphabet: ",var3.isalpha())

Is alphabet:  False
IS alphabet:  True

In [34]:
"""isdigit(): Returns true if string contains only digits and false otherwise."""
var4="1234abc"
var5="23456"
print("IS digit: ",var4.isdigit())
print("IS digit: ",var5.isdigit())

IS digit:  False
IS digit:  True

In [41]:
var6="1245abc"   #isalnum()
print("Is alphanumeric: ",var6.isalnum())
var7="$%^"
print("Is alphanumeric: ",var7.isalnum())

Is alphanumeric:  True
Is alphanumeric:  False

In [44]:
var8="      "    #isspace()
print("Contains space: ",var8.isspace())

Contains space:  True

In [46]:
var9="hello"  #islower() & isupper() & istitle()
print("Is lower: ",var9.islower())
var10="HELLO"
print("Is upper: ",var10.isupper())
var11="Hello World"
print("Is title: ",var11.istitle())

Is lower:  True
Is upper:  True
Is title:  True

In [49]:
var12="I am Rushabh Shah" #len(), lower(), upper(), swapcase()
print("Length of string: ",len(var12))
print("Lower string: ",var12.lower())
print("Upper string: ",var12.upper())
print("After swapping case: ",var12.swapcase())

Length of string:  17
Lower string:  i am rushabh shah
Upper string:  I AM RUSHABH SHAH
After swapping case:  i AM rUSHABH sHAH

In [55]:
var13="      sickmuscman      " #lstrip(), rstrip() & strip()
print("After removing leading whitespace:",var13.lstrip())
print("After removing trailing whitespace:",var13.rstrip())
print("After removing leading and trailing whitespace:",var13.strip())

After removing leading whitespace: sickmuscman
After removing trailing whitespace:       sickmuscman
After removing leading and trailing whitespace: sickmuscman

In [62]:
#title(), #startswith(), #endswith(), replace(), #split()
var14="this is jupyter notebook"
print(var14)
print("\n")
print("Titled case string: ",var14.title())
print("Is strating with 't': ",var14.startswith("t"))
print("Is ending with 'k': ",var14.endswith("k"))
print("After replace: ",var14.replace("this","it"))
print("After spliting: ",var14.split())

this is jupyter notebook


Titled case string:  This Is Jupyter Notebook
Is strating with 't':  True
Is ending with 'k':  True
After replace:  it is jupyter notebook
After spliting:  ['this', 'is', 'jupyter', 'notebook']

# List

In [74]:
#conatination operator[+]
mylist1=[1,2,3,4,5]
mylist2=[6,7,8,9,10]
print("List 1: ",mylist1,"\nList 2: ",mylist2)
print("After concatination: ",mylist1+mylist2)
print("\n")

#repetition[*]
print("List 1: ",(mylist1*3))
print("\n")

#slice([])
mylist3=["Python","Java","C","C++","ALgorithms","Ruby","Django","Data Structure","ML","AI"]
print("Elements at zero index: ",mylist3[0])
print("Elements at last index: ",mylist3[-1])
print("\n")

#range slice([start:end:stepsize])
print("After range slice",mylist3[0:10:3])

List 1:  [1, 2, 3, 4, 5]
List 2:  [6, 7, 8, 9, 10]
After concatination:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


List 1:  [1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]


Elements at zero index:  Python
Elements at last index:  AI


After range slice ['Python', 'C++', 'Django', 'AI']

In [79]:
#in not in operator
print("Python" in mylist3)
print("DS" not in mylist3)
print("Data Structure" in mylist3)
print("\n")

#updating list
print("List Before updating: ",mylist3)
mylist3[0]="PDS"
print("List After updating: ",mylist3)
print("\n")

#deleting list element
del mylist3[4]
print("After deletion: ",mylist3)
print("\n")

#list comprehension
mylist4=[1,2,3,4,5,6,7,8,9,10]
evenlist = [i for i in mylist4 if i%2==0]
print("Even number list: ",evenlist)
oddlist = [j for j in mylist4 if j%2!=0]
print("Odd number list: ",oddlist)

False
True
True


List Before updating:  ['PDS', 'Java', 'C', 'C++', 'Django', 'Data Structure', 'ML', 'AI']
List After updating:  ['PDS', 'Java', 'C', 'C++', 'Django', 'Data Structure', 'ML', 'AI']


After deletion:  ['PDS', 'Java', 'C', 'C++', 'Data Structure', 'ML', 'AI']


Even number list:  [2, 4, 6, 8, 10]
Odd number list:  [1, 3, 5, 7, 9]

In [87]:
#len(list), #max(list), #append(obj), extend(sequence), #insert(index,obj)
#pop(), #remove(obj), #reverse(), #sort(), #sorted()

mylist5=[1,2,3,4,5,6,7,8,9,10]
print("\nLength of list: ",len(mylist5))
print("\nMAx from list: ",max(mylist5))
print("\nMin from list: ",min(mylist5))
mylist5.append(100)
print("\nList after updation: ",mylist5)
newlist=[4.5,8.9,14,90]
mylist5.extend(newlist)
print("\nList after extending: ",mylist5)
mylist5.insert(-12,99)
print("\nAfter insertion: ",mylist5)
mylist5.remove(3)
print("\nAfter removing element: ",mylist5)
print("\nAfter reversing list: ",mylist5.reverse())
mylist5.sort(reverse=True)
print("\nSorted List: ",mylist5)
print("\nElement poped: ",mylist5.pop())
mylist6=[45,78,23,90,123,7,234,576,23,95,34,80]
sortedlist=sorted(mylist6)
sortedreverse=sorted(mylist6,reverse=False)
print("\nOriginal List: ",mylist6)
print("\nSorted ascending: ",sortedreverse)

Length of list:  10

MAx from list:  10

Min from list:  1

List after updation:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

List after extending:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 4.5, 8.9, 14, 90]

After insertion:  [1, 2, 3, 99, 4, 5, 6, 7, 8, 9, 10, 100, 4.5, 8.9, 14, 90]

After removing element:  [1, 2, 99, 4, 5, 6, 7, 8, 9, 10, 100, 4.5, 8.9, 14, 90]

After reversing list:  None

Sorted List:  [100, 99, 90, 14, 10, 9, 8.9, 8, 7, 6, 5, 4.5, 4, 2, 1]

Element poped:  1

Original List:  [45, 78, 23, 90, 123, 7, 234, 576, 23, 95, 34, 80]

Sorted ascending:  [7, 23, 23, 34, 45, 78, 80, 90, 95, 123, 234, 576]

# Tuple

In [89]:
tup1=(1,2,3,4,5)
tup2=(6,7,8,9,10)
print("Tuple 1 : ",tup1)
print("Tuple 2 : ",tup2)
print("After concatination : ",tup1+tup2)

#Repetition operator (*)
tup1=(1,2,3,4,5)
print("Tuple : ",tup1)
print("Repeated Tuple : ",(tup1*2))

#Slice Operator ([])
tup=("Python","Java","ML","AI")
print("Element at zero index : ",tup[0])
print("Element at last index : ",tup[-1])

#Range slice Operator([start:end:stepsize])
tup=('P','y','t','h','o','n')
print("After slicing",tup[0:4])

#in not in Operator
tup=("Python","Java","ML","AI")
print("Python" in tup)
print("DS" in tup)
print("DS" not in tup)

#Deleting tuple element using del keyword
tup=("Python","Java","ML","AI")
del tup[3]
print("After deletion : ",tup)

#Deleting entire tuple using del keyword
tup=("Python","Java","ML","AI")
print("Before deletion : ",tup)
del tup
print("After deletion : ",tup)

#Updating tuple elements
tup=("Python","Java","ML","AI")
print("Tuple before updating : ",tup)
tup[0]="Python for Data Science" #Not possible
print("Tuple after updating : ",tup)

Tuple 1 :  (1, 2, 3, 4, 5)
Tuple 2 :  (6, 7, 8, 9, 10)
After concatination :  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Tuple :  (1, 2, 3, 4, 5)
Repeated Tuple :  (1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
Element at zero index :  Python
Element at last index :  AI
After slicing ('P', 'y', 't', 'h')
True
False
True

TypeError: 'tuple' object doesn't support item deletion

In [90]:
#len(tuple) : Gives the total length of the tuple.
t1=(1,2,3,2.50)
print("Length of tuple",len(t1))

#max(list) : Returns item from the tuple with max value.
t1=(1,2,3,2.50)
print("Maximum from tuple : ",max(t1))

#min(list) : Returns item from the tuple with min value.
t1=(1,2,3,2.50)
print("Minimum from tuple : ",min(t1))

#count() :Return the number of times the particular value appears in the tuple.
t1=(1,2,3,4,2,3,4,2,2,1,5,6,2)
print("Occured : ",t1.count(0),"times")

#index() : Finds the first occurrence of the specified value.
t1=(1,2,3,4,2,3,4,2,2,1,5,6,2)
print("Found at index : ",t1.index(6))

#tuple() : Converts a list into tuple.
mylist=[1,2,3,4,5]
t1=tuple(mylist)
print(t1)

Length of tuple 4
Maximum from tuple :  3
Minimum from tuple :  1
Occured :  0 times
Found at index :  11
(1, 2, 3, 4, 5)

# Dictionary

In [93]:
#len(dictionary) : Gives the total length of the dictionary
d1={'sem':5,'sub':"Python for Data Science"}
print("Length of dictionary : ",len(d1))

#clear() : Removes all elements of dictionary
d1={'sem':5,'sub':"Python for Data Science"}
print("Updated Dictionary : ",d1.clear())

#copy() :Returns a shallow copy of dictionary
d1={'sem':5,'sub':"Python for Data Science"}
newd=d1.copy()
print("Copied dictionary : ",newd)

#get(key) : For key key, returns value or default if key not in dictionary.
d1={'sem':5,'sub':"Python for Data Science"}
print("Value is ",d1.get('sem'))

#items() :Returns a list of dict's (key, value) tuple pairs.
d1={'sem':5,'sub':"Python for Data Science"}
print("Key Value pairs : ",d1.items())

#keys() : Returns list of dictionary dict's keys.
d1={'sem':5,'sub':"Python for Data Science"}
print("Keys : ",d1.keys())

#values() : Returns list of dictionary dict's values.
d1={'sem':5,'sub':"Python for Data Science"}
print("Values : ",d1.values())

#d1.update(d2) : Adds dictionary d2's key-values pairs to d1.
d1={'sem':5,'sub':"Python for Data Science"}
d2={'dept':"Computer"}
d1.update(d2)
print("Updated Dictionary : ",d1)

#dict() :

#Converting list into dictionary.
mylist=['sem',5,'sub','Python']
i=iter(mylist)
d1=dict(zip(i,i))
print("Dictionary from list : ",d1)

#Converting tuple into dictionary.
tup=(('sem',5),('sub','Python'))
d2=dict(tup)
print("Dictionary from tuple: ",d2)

Length of dictionary :  2
Updated Dictionary :  None
Copied dictionary :  {'sem': 5, 'sub': 'Python for Data Science'}
Value is  5
Key Value pairs :  dict_items([('sem', 5), ('sub', 'Python for Data Science')])
Keys :  dict_keys(['sem', 'sub'])
Values :  dict_values([5, 'Python for Data Science'])
Updated Dictionary :  {'sem': 5, 'sub': 'Python for Data Science', 'dept': 'Computer'}
Dictionary from list :  {'sem': 5, 'sub': 'Python'}
Dictionary from tuple:  {'sem': 5, 'sub': 'Python'}

In [100]:
#Slice Operator ([])
d1={'sem':5,'sub':"Python for Data Science"}
print("Dictionary 1 : ",d1)
print("Semester : ",d1['sem'])
print("Semester : ",d1["sem"])


#in not in Operator
d1={'sem':5,'sub':"Python for Data Science"}
print('sub' in d1)
print('subject' not in d1)


#Updating dictionary elements
d1={'sem':5,'sub':"Python for Data Science"}
print("Dictionary 1 : ",d1)
d1['sem']="5th"
print("Updated Dictionary : ",d1)


#Deleting dictionary element using del keyword
d1={'sem':5,'sub':"Python for Data Science"}
print("Dictionary 1 : ",d1)
del d1['sub']
print("After deletion : ",d1)

#Concatination operator (+)
d1={'sem':5,'sub':"Python for Data Science"}
d2={'dept':"Computer"}
print("Dictionary 1 : ",d1)
print("Dictionary 2 : ",d2)
print("After concatination : ",d1+d2)


#Repetition operator (*)
d1={'sem':5,'sub':"Python for Data Science"}
print("Dictionary 1 : ",d1)
print("After repetition : ",d1*2)

Dictionary 1 :  {'sem': 5, 'sub': 'Python for Data Science'}
Semester :  5
Semester :  5
True
True
Dictionary 1 :  {'sem': 5, 'sub': 'Python for Data Science'}
Updated Dictionary :  {'sem': '5th', 'sub': 'Python for Data Science'}
Dictionary 1 :  {'sem': 5, 'sub': 'Python for Data Science'}
After deletion :  {'sem': 5}
Dictionary 1 :  {'sem': 5, 'sub': 'Python for Data Science'}
Dictionary 2 :  {'dept': 'Computer'}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

# Set Functions

In [106]:
#Concatination operator (+)
s1={1,2,3,4,5}
s2={"Hello","World"}
print("Set 1 : ",s1)
print("Set 2 : ",s2)
print("After concatination : ",s1+s2)

#Repetition operator (*)
s1={1,2,3,4,5}
print("Set 1 : ",s1)
print("After repetition : ",s1*2)

#Slice Operator ([])
s1={1,2,3,4,5}
print("Set 1 : ",s1)
print("After slicing : ",s1[0])

#in not in Operator
s1={1,2,3,4,5}
print(1 in s1)
s1={1,2,3,4,5}
print(10 not in s1)

#Updating set elements
s1={1,2,3,4,5}
print("Set 1 : ",s1)
#s1[0]=500 #Once a set is created, you cannot change its items, but you can add new items.
print("Updated Set : ",s1)
s1.add(6) #Only one element can be added using this method.
print("New set : ",s1)
s2={"BMW","Mercedez","Aston Martin"}
s2.update(["Audi","Ferrari","Porsche"])
print("Updated set : ",s2)

#Accessing set items
x={1,2,3,4,5}
for i in x:
    print("Item : ",i)


#frozenset()
mylist=[1,2,3,4,5]
fset=frozenset(mylist)
print("Frozen set : ",fset)

#Operations on frozen set

#Concatination operator (+)
mylist2=[6,7,8,9,10]
fset2=frozenset(mylist2)
#print("Concatination of two frozen set : ",fset+fset2)

#Repetation operator (*)
mylist2=[6,7,8,9,10]
fset2=frozenset(mylist2)
print("Repetation of frozen set : ",fset2*2)


#Slice Operator ([])
mylist2=[6,7,8,9,10]
fset2=frozenset(mylist2)
print("Slicing of frozen set : ",fset2[0])


#in not in Operator
mylist2=[6,7,8,9,10]
fset2=frozenset(mylist2)
print(1 in fset2)
print(11 not in fset2)

#Accessing set items
fset2=frozenset(mylist2)
for i in fset2:
    print("Item : ",i)


tup=(1,2,3,4,5)
fset=frozenset(tup)
print(fset)

#clear() : Removes all elements of set.
x={1,2,3,4,5}
print("Updated Set : ",x.clear())

#copy() :Returns a copy of set.
x={1,2,3,4,5}
newset=x.copy()
print("Copied set : ",newset)

#difference() : Returns a set containing the difference between two or more sets.
#The returned set contains items that exist only in the first set, and not in both sets.
#This function will return a new set without unwanted elements.
x={1,2,3,4,5}
y={1,3,5}
print("Difference between two sets : ",x.difference(y))

#difference_update() : Remove the items that exist in both sets.
x={1,2,3,4,5}
y={1,3,5}
x.difference_update(y)
print(x)

#discard() : Removes the specified item from the set.
x={1,2,3,4,5}
x.discard(5)
print("Updated Set : ",x)

#intersection() : Returns a set, that is the intersection of two other
sets.x={1,2,3,4,5}
y={1,3,5}
print("Intersection between two sets : ",x.intersection(y))

#issubset() : Returns whether another set contains this set or not.
#Returns True if items of x are present in y else False.
x={1,2,3,4,5}
y={1,3,5}
print("Subset : ",x.issubset(y))

#issuperset() : Returns whether another set contains this set or not.
#Return True if all items set y are present in set x else False.
x={1,2,3,4,5}
y={1,3,5}
print("Superset : ",x.issuperset(y))

#pop() : Removes item from the set and returns the removed item.
x={0,2,3,4,5}
print("Removed item : ",x.pop())

#union() : Return a set containing the union of sets.
x={1,3,5,7}
y={2,4,6,8}
print("Union between two sets : ",x.union(y))

#len() : Returns number of elements present in the set.
x={1,3,5,7}
print("Length of set : ",len(x))

Set 1 :  {1, 2, 3, 4, 5}
Set 2 :  {'World', 'Hello'}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [6]:
var=3
var1=0
var2=var1+1
while(var<7):
    var2=var2+var1
    if(var1%2==0):
        var=var+1
        var1=var1+1
    else:
        var2=var2*var1
        var1=var1+3