In [5]:
class Student:
    def stude_details(self):
        print("Enrollment number is 1 & name is Zarana")
        
s1=Student() #creating object
s2=Student()

s1.stude_details()
s2.stude_details()

Enrollment number is 1 & name is Zarana
Enrollment number is 1 & name is Zarana

In [9]:
class student:
    def __init__(self):
        print("You are in init")
        
    def stude_details(self):
        print("Enrollement number is 1 & name is Zarana")
        
s1=student()
s2=student()

s1.stude_details()
s2.stude_details()

You are in init
You are in init
Enrollement number is 1 & name is Zarana
Enrollement number is 1 & name is Zarana

In [13]:
class student:
    
    def __init__(self, enroll,name):
        self.enroll = enroll
        self.name = name
        
    def stude_details(self):
        print("Enrollment number is", self.enroll,"& name is", self.name)
        
s1=student(1,"Zarana")
s2=student(2,"Mona")

s1.stude_details()
s2.stude_details()

Enrollment number is 1 & name is Zarana
Enrollment number is 2 & name is Mona

In [6]:
class demo:
    def __init__(self):
        print("Address of self is ", id(self))
        
obj = demo()

print("Address of class object is ",id(obj))

Address of self is  2294904903520
Address of class object is  2294904903520

In [23]:
def demo(n):
    for a in range(0,n):        #for(i=0;i<10:i++)
        print("hello")
        #return("hello")
demo(8)

hello
hello
hello
hello
hello
hello
hello
hello

In [28]:
a=6
print(a)
b=7
print(b)
a
b

6
7

7