### Operations on String, List and Tuple

1. <b>Python Strings:</b> The string can be defined as the sequence of characters. 
    String handling in Python is a straightforward task since Python provides built-in functions and operators to perform       operations in the string.
    
    In the case of string handling, the operator + is used to concatenate two strings as the operation "hello"+" python" returns "hello python".
    
    The operator * is known as a repetition operator as the operation "Python" *2 returns 'Python Python'.

In [2]:
d="String in double or single quotes"
d
type(d)

str

In [4]:
s="""A multiple lines
    string using triple
    quotes."""
print(s)

A multiple lines
    string using triple
    quotes.

In [5]:
a=5
a
b=6
b

6

In [3]:
str1 = 'Hello'    
str2 = 'how you doing?' #string str2 

#printing first two character using slice operator  
print(str1[0:2])
#Get the characters from position 1 to position 4 in str1 (called slicing of string)
print(str1[1:5])

#printing 5th character of the string 
print(str1[3])

#printing the string twice  
print(str1*2)

#printing the concatenation of str1 and str2 
print(str1+str2)

He
ello
l
HelloHello
Hellohow you doing?

In [19]:
## Negative Indexing
str1[-1]

'o'

In [22]:
#The len() function returns the length of a string:
print(len(str2))

14

In [24]:
#The strip() method removes any whitespace from the beginning or the end:
c= "      Hi     Everyone    "
print(c.strip())

Hi     Everyone

In [26]:
c.lower()         #The lower() method returns the string in lower case
c.upper()         #The upper() method returns the string in upper case

'      HI     EVERYONE    '

In [28]:
c.replace("H","J")  
c.split("E")    #replace and split

['      Hi     ', 'veryone    ']

Check String:
To check if a certain phrase or character is present in a string, we can use the keywords <b>in</b> or <b>not in</b>.

In [31]:
txt = "The rain in Spain stays mainly in the plain"
x = "The" in txt
print(x)

True

The format() method takes unlimited number of arguments, and are placed into the respective placeholders:

In [4]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [5]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

2. <b>List</b> : Python Lists are similar to arrays in C. However, the list can contain data of different types. The items stored in the list are separated with a comma (,) and enclosed within square brackets [].

   We can use slice [:] operators to access the data of the list. The concatenation operator (+) and repetition operator (*) works with the list in the same way as they were working with the strings.

In [18]:
list2 = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

In [9]:
print(type(list2))

<class 'list'>

In [10]:
list2[2:5]

['cherry', 'orange', 'kiwi']

In [11]:
list2[2:]

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [12]:
list2[:4] #4-1=3

['apple', 'banana', 'cherry', 'orange']

In [13]:
list2[-1]

'mango'

In [16]:
#This example returns the items from index -4 (included) to index -1 (excluded)
#Remember that the last item has the index -1

print(list2[-5:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [19]:
#change a particular value in list
print(list2)
list2[3]="tomatoes"
print(list2)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
['apple', 'banana', 'cherry', 'tomatoes', 'kiwi', 'melon', 'mango']

In [22]:
# List Concatenation using + operator  
list1=[1,2,3] 
print (list2 + list1)

['apple', 'banana', 'cherry', 'tomatoes', 'kiwi', 'melon', 'mango', 1, 2, 3]

In [24]:
# List repetation using * operator  
print (list2*2)

['apple', 'banana', 'cherry', 'tomatoes', 'kiwi', 'melon', 'mango', 'apple', 'banana', 'cherry', 'tomatoes', 'kiwi', 'melon', 'mango']

3. <b>Tuple</b>: 
A tuple is similar to the list in many ways. Like lists, tuples also contain the collection of the items of different data types. The items of the tuple are separated with a comma (,) and enclosed in parentheses ().

  A tuple is a read-only data structure as we can't modify the size and value of the items of a tuple.
  Tuple is immutable.

In [31]:
tup  = ("hi", "Python", 2)    
print(type(tup))
# Tuple slicing  
print (tup[1:])    
print (tup[0:1])    
tup2 = (1,4,6,7,9)
# Tuple concatenation using + operator  
print (tup + tup2)    
  
# Tuple repatation using * operator  
print (tup * 3)     
  
# Adding value to tup. It will throw an error.  
#tup[2] = "hello"

<class 'tuple'>
('Python', 2)
('hi',)
('hi', 'Python', 2, 1, 4, 6, 7, 9)
('hi', 'Python', 2, 'hi', 'Python', 2, 'hi', 'Python', 2)